@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: 1rem 'Source Sans Pro', sans-serif !important;
}

.bor{
	border: 1px solid red;
}

body{
	background-color: #ee5166;
background-image: linear-gradient(315deg, #ee5166 0%, #f08efc 74%);
}

.navbar{
		background: rgba(255, 255, 255, 0);
}

.navbar-brand{
	font: 2rem 'Source Sans Pro', sans-serif !important;
	font-weight: bolder;
	color: #fff;
	padding: 5px 20px;
}

.navbar-brand > span{
	text-transform: uppercase;
	font-size: 2.5rem !important;
	color: #a8dadc;
}

.navbar-brand:hover{
	color: #a8dadc;
}

.navbar-nav{
	width: 100%;
	justify-content: flex-end;
}

.nav-link{
	font: 1.5rem 'Source Sans Pro', sans-serif !important;
	color: #fff !important;
}

.nav-link:hover{
	font-weight: bold !important;
	transition: 0.2s ease-in-out;
}

.main{
	min-height:100vh;
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color: #000;
}

.title{
	font: 3rem 'Source Sans Pro', sans-serif !important;
	color: #fff;
}

.main-content{
	padding: 30px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.3px);
	-webkit-backdrop-filter: blur(8.3px);
}

.main div:nth-of-type(1){
	padding: 20px;
	font: 2.5rem 'Source Sans Pro', sans-serif !important;
	display: flex;
	align-items:center;

}


.Table table{
	border-collapse: collapse;
}

 
.Table table th, .Table table td{	
	font: 1.5rem 'Source Sans Pro', sans-serif !important;
	text-align: center;
	padding: 10px 15px;
}

input[type="text"]{
	font: 1.3rem 'Source Sans Pro', sans-serif !important;
	padding: 5px;
	outline: none;
	border: 1px solid lightblue;
	border-radius: 5px;
	text-align: center;
}
input[type="checkbox"]{
	transform: scale(2.5);
}

input[type='date']{
	padding: 5px;
}

input[type="submit"], input[type="reset"]{
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	background-color: #2a2a72;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
	border: none;
	color: #fff;
	width: 10em;
	font: 1.3rem 'Source Sans Pro', sans-serif !important;
}

input[type="submit"]:hover, input[type="reset"]:hover{
	background-color: #2a2a72;
	background-image: linear-gradient(135deg, #2a2a72 0%, #009ffd 74%);
}
