{% extends 'skeleton.html' %}

{% block title %}About Us{% endblock %}

{% block body %}

	<header>
		<nav class="navbar navbar-expand-sm">
			<div class="container-fluid">
				<a href="/" class="navbar-brand nav-link">Student Attendance Tracker</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationItems">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navigationItems">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					{% if 'is_logged_in' in session %}
					<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
					{% else %}
					<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
					<li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
					{% endif %}
					<li class="nav-item"><a href="/about-us" class="nav-link active">About Us</a></li>
				</ul>
				</div>
			</div>
		</nav>
	</header>
	
{% endblock %}