{% extends 'skeleton.html' %}

{% block title %}Student Attendance Tracker{% endblock %}

{% block body %}

	<header>
		<nav class="navbar navbar-expand-sm">
			<div class="container-fluid">
				<a href="/" class="navbar-brand nav-link">Student Attendance Tracker</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationItems">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navigationItems">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
					<li class="nav-item"><a href="/about-us" class="nav-link">About Us</a></li>
				</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="row row-cols-1 row-cols-md-3 m-2 g-3">
	  	<div class="col">
			<div class="card h-100">
				<div class="card-body">
					<a href="/add_student" class="stretched-link"></a>
					<h2 class="card-title">Add Student</h2>
					<p class="card-text">Add a new student to your class</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<div class="card-body">
					<form action="/add_attendance">
						<h2 class="card-title">Add Attendance</h2>
						<p class="card-text">Add attendance for today for your class</p>
						<input type="number" name="no_of_periods" class="form-control m-1" placeholder="No of periods" max="24" min="1" value="8" required>	
						<input type="submit" class="form-control m-1 btn btn-outline-primary" value="Add attendance">	
					</form>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<div class="card-body">
					<form action="/view_attendance">
						<h2 class="card-title">View Attendance</h2>
						<p class="card-text">View previous attendances by day</p>
						<input type="date" name="date_of_attendance" class="form-control m-1" value="{{ date_of_attendance }}" required>	
							<input type="submit" class="form-control m-1 btn btn-outline-primary" value="View attendance">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}