{% extends 'skeleton.html' %}

{% block title %}Register{% endblock %}

{% block body %}

	<header>
		<nav class="navbar navbar-expand-sm">
			<div class="container-fluid">
				<a href="/" class="navbar-brand nav-link">Student Attendance Tracker</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationItems">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navigationItems">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
					<li class="nav-item"><a href="/register" class="nav-link active">Register</a></li>
					<li class="nav-item"><a href="/about-us" class="nav-link">About Us</a></li>
				</ul>
				</div>
			</div>
		</nav>
	</header>

	<form class="mx-auto form-container my-4 p-4" method="post">
		<fieldset>
			<legend>Register</legend>
			<label class="form-label">Name</label>
			<input type="text" name="name" class="form-control">
			<label class="form-label">Email</label>
			<input type="email" name="email" class="form-control">
			<label class="form-label">Password</label>
			<input type="password" name="password" class="form-control"><br>
			<input type="submit" value="Register" class="btn btn-primary w-100">
			{% if failure %}
			<p class=" m-4 alert alert-danger mx-auto text-dark text-center">Invalid email or password</p>
			{% endif %}
		</fieldset>
	</form>

{% endblock %}