{% extends 'skeleton.html' %}

{% block title %}Student Attendance Tracker{% endblock %}

{% block body %}

	<header>
		<nav class="navbar navbar-expand-sm">
			<div class="container-fluid">
				<a href="/" class="navbar-brand nav-link">Student Attendance Tracker</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationItems">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navigationItems">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
					<li class="nav-item"><a href="/about-us" class="nav-link">About Us</a></li>
				</ul>
				</div>
			</div>
		</nav>
	</header>

	<form class="m-3">
		<label class="form-label" for="date_of_attendance">Date of attendance</label>
		<input type="date" name="date_of_attendance" value="{{ date_of_attendance }}" class="form-control">
		<input type="submit" value="View attendance" class="btn btn-primary w-100 my-2">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Register Number</th>
						<th>Name</th>
						{% for i in range(no_of_periods) %}
						<th>Period {{ i + 1 }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for i in attendance %}
					<tr>
						<td>{{ i.student.register_number }}</td>
						<td>{{ i.student.name }}</td>
						{% for j in i.periods_attended %}
						<td>
							{% if j == '1' %}
							<i class="bi bi-check text-success"></i>
							{% else %}
							<i class="bi bi-x text-danger"></i>
							{% endif %}
						</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
	</form>
	
{% endblock %}